<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New Post</title>
  </head>
  <body>
    <h2>Create your new post</h2>
    <form action="/posts" method="post">
      <input
        placeholder="enter username"
        type="text"
        name="username"
      /><br /><br />
      <input
        type="text"
        name="src"
        placeholder="Paste the link of photo"
      /><br /><br />
      <textarea placeholder="write your caption" name="caption"></textarea
      ><br />
      <button>Create</button>
    </form>
  </body>
</html>
